@use '../helpers' as *;

.card {
	@include tablet-above {
		display: grid;
		grid-template-columns: 37.5% auto;
	}

	&__preview,
	&__body {
		padding: rem(80);

		@include laptop {
			padding: rem(60);
		}
	}

	&__preview {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: fluid(60, 20);
		padding-left: 0;

		@include tablet-above {
			border-right: var(--border);
		}

		@include tablet {
			padding-right: 0;
			padding-block: rem(50);
			border-bottom: var(--border);
		}

		&-main {
			display: grid;
			row-gap: fluid(50, 24);

			@include tablet {
				justify-content: start;
			}
		}

		&-icon {
			width: fluid(80, 50);
		}

		&-info {
			display: grid;
			row-gap: fluid(16, 6);

			&:has(.card__rating-view) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				column-gap: 1rem;
			}
		}
	}

	&__body {
		padding-right: 0;

		@include tablet {
			padding: rem(30) 0;
		}
	}

	&__grid {
		display: grid;

		&--2-cols {
			grid-template-columns: repeat(2, 1fr);
			gap: fluid(30, 10);

			@include mobile {
				grid-template-columns: 1fr;
			}
		}

		&--2-cols-alt {
			@include mobile-above {
				grid-template-columns: auto 1fr;
				gap: rem(30) rem(20);
			}

			@include laptop {
				gap: rem(24) rem(16);
			}

			@include mobile {
				gap: rem(16);
			}
		}

		&--3-cols {
			gap: fluid(20, 14);

			@include tablet-above {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	&__cell {
		display: flex;
		flex-direction: column;
		justify-content: start;
		row-gap: rem(4);

		&:has(> *:only-child) {
			justify-content: center;
		}

		&:has(.card__cell-link) {
			display: grid;

			@include tablet-above {
				grid-template-areas:
					'other link'
					'other link';
				grid-template-columns: 1fr auto;
			}

			align-items: center;
			column-gap: rem(20);
		}

		&:has(img) {
			@include mobile {
				padding-block: rem(8);
			}
		}

		&:has(.video-card) {
			padding-bottom: fluid(30, 6);
		}

		&--wide {
			grid-column: -1 / 1;
		}

		&-image {
			width: 100%;
			height: fluid(332, 169);
			object-fit: cover;
			border-radius: rem(12);

			@include laptop {
				border-radius: rem(10);
			}
		}

		&-subtitle {
			font: inherit;
			color: inherit;
		}

		&-link {
			@include tablet-above {
				grid-area: link;
			}

			@include tablet	 {
				margin-block: rem(16);
			}
		}
	}
}
