@use '../helpers' as *;

.feedback-form {
	display: grid;
	gap: fluid(50, 20) rem(50);

	@include mobile-above {
		grid-template-columns: repeat(2, 1fr);
	}

	&__cell {
		&--wide {
			grid-column: -1 / 1;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);

		@include mobile-s {
			flex-direction: column;
			align-items: stretch;
		}
	}
}
