@use '../helpers' as *;

.news {
	padding-block: fluid(80, 40);
	display: grid;
	row-gap: rem(60);

	@include laptop {
		row-gap: rem(40);
	}

	&__header {
		display: flex;
		column-gap: 1rem;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(358), 1fr));
		gap: rem(30);
	}
}
